/* CSS стили для header__logo */

.header__logo {
    margin: 0;
    max-width: 142px;
    min-height: 33px;
  }

@media screen and (max-width: 780px) {

    .header__logo {
        margin-left: 27px;
        max-width: 103.74px;
        min-height: 24.4px;
    }
}

    