/* CSS стили для profile__info */

.profile__info{
    display: grid;
    grid-template-columns: 294px 25px;
    grid-template-rows: auto;
    gap: 7px 18px;
    align-items: end;
}

@media screen and (max-width: 1279px) {
    .profile__info{
        grid-template-columns: 190px 18px;
    }
}

@media screen and (max-width: 780px) {
    .profile__info{
        margin-bottom: 33px;
        grid-template-columns: 1fr 18px;
        gap: 7px 11px;
    }
}

