/* CSS стили для card__heart-counter */

.card__heart-counter{
    margin: 0;
    margin-top: 3px;
    padding: 0;
    border: none;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000;

  }

