/* CSS стили для popup__figcaption */

.popup__figcaption{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}