/* CSS стили для card__delete */

.card__delete{
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 19px;
    cursor: pointer;
    background: transparent url(../../../images/trash.svg) center no-repeat;
    border: #ffffff;
    background-size: contain;
    transition: .3s linear;
  }

  .card__delete:hover{
    opacity: 0.6;
  }
