/* CSS стили для card__heart-container */

.card__heart-container{
    margin: 0;
    padding: 0;
    /*width: 22px;
    height: 35px;*/
    display: flex;
    flex-direction: column;
    border: none;

  }

