/* CSS стили для profile__card-user */

.profile__card-user{
    margin: 0;
    min-width: 486px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1279px) {
    .profile__card-user{
        min-width: 375px;
    }
}   

@media screen and (max-width: 780px) {
    .profile__card-user{
        flex-direction: column;
        min-width: 282px;
    }
}   

