/* CSS стили для profile__info */

.profile__subtitle{
    margin: 0;
    padding-left: 1px;
    text-align: left;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  @media screen and (max-width: 1279px) {
    .profile__subtitle{
        font-size: 14px;
        line-height: 17px;
    }
}

  @media screen and (max-width: 780px) {
    .profile__subtitle{
        padding-left: 28px;
        text-align: center;
    }
}

