/* CSS стили для popup__signup-icon */

.popup__signup-icon{
    /*display: flex;
    margin: 26px auto 32px;
    width: 120px;
    height: 120px;*/

    width: 120px;
    height: 120px;
    margin-bottom: 32px;
}

