/* CSS стили для header__label */

.header__label {
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 24px;
    transition: opacity .3s;
  }


  .header__label:hover {
    opacity: 0.6;
  }

    