/* CSS стили для profile__edit-button */

.profile__edit-button{
    margin: 0;
    margin-left: 1px;
    margin-bottom: 9px;
    padding: 0;
    min-width: 24px;
    min-height: 24px;
    cursor: pointer;
    transition: 0.3s linear;
    border: none;
    box-sizing: border-box;
    background: url(../../../images/edit-button.svg) transparent no-repeat;
    background-size: contain;
    outline: none;
}

.profile__edit-button:hover{
    opacity: 0.6;
}

@media screen and (max-width: 1279px) {
    .profile__edit-button{
        margin-left: 0;
        margin-bottom: 6px;
        min-width: 18px;
        min-height: 18px;
    }
}
    
