/* CSS стили для profile__title */

.profile__title{
    margin: 0;
    padding-top: 3px;
    padding-left: 1px;
    text-align: left;
    font-style: normal;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

@media screen and (max-width: 1279px) {
    .profile__title{
        font-size: 27px;
        line-height: 33px;
    }
}

@media screen and (max-width: 780px) {
    .profile__title{
        text-align: center;
        padding-left: 26px;
    }
}