/* CSS стили для footer */

.footer {
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 60px;
  max-width: 880px;
  background-color:#000000;
  display: flex;
}

@media screen and (max-width: 1279px) {
  .footer {
      max-width: 581px;
    }
}

@media screen and (max-width: 780px) {
  .footer {
      max-width: 282px;
      padding-top: 48px;
      padding-bottom: 36px;
    }
}