/* CSS стили для popup__figure */

.popup__figure{
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}



