/* CSS стили для profile__avatar */

.profile__avatar{
    width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-position: center;
    box-shadow: 0;
    transition: 0.3s linear;
}

.profile__avatar:hover{
    opacity: 0.3;
    cursor: pointer;
    
}

@media screen and (max-width: 780px) {
    .profile__avatar{
        margin-bottom: 22px;
        align-self: center;
    }
}

