/* CSS стили для profile__add-button */

.profile__add-button{
    margin: 0;
    padding: 0;
    min-width: 150px;
    min-height: 50px;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s linear;
    background-color:#000000;
    background: transparent url(../../../images/add-button.svg) center no-repeat;
    background-size: contain;
    outline: none;
}

.profile__add-button:hover{
    opacity: 0.6;
}

@media screen and (max-width: 780px) {
    .profile__add-button{
        min-width: 282px;
        background: transparent url(../../../images/add-button-mobile.svg) center no-repeat;
    }
}
        


