  /* CSS стили для секции footer__author */

  .footer__author {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #545454;
  }

@media screen and (max-width: 780px) {
    .footer__author {
        font-size: 14px;
        line-height: 17px;
    }
}

