/* CSS стили для card__text */

.card__text{
    max-width: 190px;
    margin: 0px;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
