/* CSS стили для popup */

.popup{
    display: flex;
    visibility: hidden;
    color: #ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s linear;
}
